@import "../../../../assets/main";

.signup-form-card {
  margin-top: rem(60px);
}

.card-text {
  margin-top: rem(-1px);
}

.signup-form-button {
  padding-top: rem(10px);
}

.signup-form-button button {
  color: white;
}
