@import "./../../../assets/main";

.home-page {
  padding-top: rem(30);
}

.iaas {
  .welcome-description {
    border: rem(1px) solid black;
  }
  .welcome-img {
    border: rem(1px) solid black;
  }
  .welcome-content {
    border: rem(1px) solid black;
  }
}
